/* 헤더 전체 컨테이너 */
.headerBar_container {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center; /* 요소 높이에 맞게 늘어나도록 */
	background-color: #E8D7B8;
	padding: 0 20px;
	color: #2E2E2E;
	min-height: 80px; /* 헤더 최소 높이 지정 */
}

/* 로고 + 팀명 */
.logo_section {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 10px;
	font-weight: bold;
	cursor: pointer;
}

.logo_section img {
	max-height: 60px; /* 원하는 높이로 제한 */
	width: auto; /* 비율 유지 */
}

/* 검색창 영역 */
.search_section {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 8px;
	justify-content: center;
}

.search_section input {
	padding: 5px 10px;
	border: 1px solid #CBBFA3;
	border-radius: 4px;
	width: 500px;
	background-color: #F5EFE3;
}

.search_section select {
	padding: 5px 10px;
	border: 1px solid #CBBFA3;
	border-radius: 4px;
	width: 100px;
	background-color: #F5EFE3;
}

.search_section button {
	padding: 5px 12px;
	background-color: #F5EFE3;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.search_section button:hover {
	background-color: #6B6B6B;
}

#btn_goLogin {
	padding: 5px 12px;
	background-color: #F5EFE3;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#btn_goLogin:hover {
	background-color: #6B6B6B;
}