<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">

	<insert id="insertPost" parameterType="Post">
		INSERT INTO post (
			title,
			content,
			u_id,
			like_count,
			category,
			game_id,
			view_count,
			created_at,
			updated_at
		) VALUES (
			#{title},
			#{content},
			#{uId},
			0,
			#{category},
			(
				SELECT game_id
				FROM game_list
				WHERE UPPER(game_alias) = UPPER(#{gameAlias})
			),
			0,
			CURRENT_TIMESTAMP,
			NULL
		)
	</insert>

	<update id="updateViewCount" parameterType="long">
		UPDATE post
		SET
		view_count = view_count + 1
		WHERE p_id = #{pId}
	</update>

	<select id="selectPostDetail" parameterType="map"
		resultType="PostDetail">
		SELECT
		p.p_id,
		p.title,
		p.content,
		p.category,
		p.like_count,
		p.view_count,
		p.created_at,
		p.updated_at,
		u.u_id,
		u.nickname,
		g.game_id,
		g.game_name,
		g.game_alias
		FROM post p
		JOIN user_info u ON p.u_id = u.u_id
		JOIN game_list g ON p.game_id = g.game_id
		WHERE p.p_id = #{pId}
		AND
		UPPER(g.game_alias) = UPPER(#{gameAlias})
	</select>

	<select id="selectMediaListByPId" parameterType="long"
		resultType="Media">
		SELECT m_id, media_url, media_order, p_id, media_type
		FROM
		media
		WHERE p_id = #{pId}
		ORDER BY media_order ASC
	</select>

	<select id="selectCommentListByPId" parameterType="long"
		resultType="Comments">
		SELECT
		c.c_id,
		c."content",
		c.like_count,
		c.p_id,
		c.u_id,
		c.parent_c_id,
		c.created_at,
		c.updated_at,
		u.nickname
		FROM comments c
		JOIN
		user_info u ON c.u_id = u.u_id
		WHERE c.p_id = #{pId}
		ORDER BY
		COALESCE(c.parent_c_id, c.c_id) ASC, c.c_id ASC
	</select>
	
	
	<!-- 1. 중복 추천 여부 확인 -->
	<select id="checkLikeHistory" parameterType="map" resultType="int">
	    SELECT COUNT(*) 
	    FROM like_history 
	    WHERE p_id = #{pId} AND u_id = #{uId}
	</select>
	
	<!-- 2. 추천 이력 추가 -->
	<insert id="insertLikeHistory" parameterType="map">
	    INSERT INTO like_history (u_id, p_id, c_id)
	    VALUES (#{uId}, #{pId}, NULL)
	</insert>
	
	<!-- 3. 게시글 추천 수 1 증가 -->
	<update id="updateLikeCount" parameterType="long">
	    UPDATE post 
	    SET like_count = like_count + 1 
	    WHERE p_id = #{pId}
	</update>
	
	<!-- 4. 최신 추천 수 조회 -->
	<select id="getLikeCount" parameterType="long" resultType="int">
	    SELECT like_count 
	    FROM post 
	    WHERE p_id = #{pId}
	</select>
	
	<!-- 5. 추천 이력 삭제 -->
	<delete id="deleteLikeHistory" parameterType="map">
	    DELETE FROM like_history 
	    WHERE p_id = #{pId} AND u_id = #{uId}
	</delete>
	
	<!-- 6. 게시글 추천 수 1 감소 -->
	<update id="decreaseLikeCount" parameterType="long">
	    UPDATE post 
	    SET like_count = like_count - 1 
	    WHERE p_id = #{pId}
	</update>

</mapper>