<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="board_mapper">
	<select id="findPostListByGameAlias" resultType="Post" parameterType="string">
		select *
		from post
		where game_id in (select game_id from game_list where game_alias = #{value})
	</select>
	<select id="findGameNameByGameAlias" resultType="string" parameterType="string">
		select game_name
		from game_list
		where game_alias = #{value}
	</select>
	<select id="findGameNameByGameId" resultType="string" parameterType="Long">
		select game_name
		from game_list
		where game_id = #{value}
	</select>
	<select id="findGameAliasByGameId" resultType="string" parameterType="Long">
		select game_alias
		from game_list
		where game_id = #{value}
	</select>
	<select id="findCategoriesByGameAlias" resultType="string" parameterType="string">
		select distinct category
		from post
		where game_id in (select game_id
					      from game_list
					      where game_alias = upper(#{value}))
	</select>
	<select id="findPopularSixGames" resultType="GameNameTransferForm">
		select g.game_name , g.game_alias
		from post p 
		    inner join game_list g
		        on p.game_id = g.game_id
		group by g.game_name , g.game_alias
		order by sum(view_count) desc
		fetch first 6 rows only
	</select>
	<select id="findTrendPostListByGameAlias" resultType="Post" parameterType="string">
		select row_number() over (order by (p.view_count + (10*p.like_count)) desc ) as "rownum"
			 , p.*
		from post p 
		    inner join game_list g
		        on p.created_at >= sysdate - 7 
		            and p.game_id = g.game_id 
		            and g.game_alias = upper(#{value})
		order by (p.view_count + (10*p.like_count)) desc
		fetch first 3 rows only
	</select>
	<select id="findPostListByPagingPosts" resultType="Post" parameterType="PagingPosts">
		select *
		from post
		where game_id in (select game_id from game_list where game_alias = upper(#{gameAlias}))
		<if test="!category.equals('전체') and category != null and category != '' ">
			and category = #{category}
		</if>
		order by p_id
		offset #{offset} rows fetch next #{size} rows only
	</select>
	<select id="findPostSizeByGameAlias" resultType="int" parameterType="string">
		select count(*)
		from post
		where game_id in (select game_id from game_list where game_alias = upper(#{gameAlias}))
	</select>
	<select id="findChzzkCategoryNameByGameAlias" resultType="string" parameterType="string">
		select chzzk_game_name
		from game_list
		where game_alias = upper(#{gameAlias})
	</select>
	<select id="findTitleByKeyword" resultType="post"
		parameterType="string">
		select *
		from post
		where REPLACE(LOWER(title), ' ', '') like '%' || REPLACE(LOWER(#{keyword}), ' ', '') || '%'
	</select>
	<select id="findContentByKeyword" resultType="post"
		parameterType="string">
		select *
		from post
		where REPLACE(LOWER(content), ' ', '') like '%' || REPLACE(LOWER(#{keyword}), ' ', '') || '%'
	</select>
	<select id="findNicknameByKeyword" resultType="UserInfo"
		parameterType="string">
		select *
		from user_info
		where REPLACE(LOWER(nickname), ' ', '') like '%' || REPLACE(LOWER(#{keyword}), ' ', '') || '%'
	</select>
</mapper>