<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="board_mapper">
	<select id="findPostListByGameAlias" resultType="Post" parameterType="string">
		select *
		from post
		where game_id in (select game_id from game_list where game_alias = #{value})
	</select>
	<select id="findGameNameByGameAlias" resultType="string" parameterType="string">
		select game_name
		from game_list
		where game_alias = #{value}
	</select>
	<select id="findCategoriesByGameAlias" resultType="string" parameterType="string">
		select distinct category
		from post
		where game_id in (select game_id
					      from game_list
					      where game_alias = upper(#{value}))
	</select>
</mapper>