<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="user_mapper">
	<select id="findNickNameByUid" resultType="string" parameterType="long">
		select nickname
		from user_info
		where u_id = #{value}
	</select>
	<select id="findMyPageByUserId" resultType="com.app.dto.user.UserInfo">
		SELECT u_id "uId", email, password,nickname
		FROM user_info
		WHERE u_id=#{userId}	
	</select>
	<update id="updatePassword">
	    UPDATE user_info
	    SET password = #{password} 
	    WHERE u_id = #{uid}
	</update>
	
	<!-- 회원가입: DB에 유저 정보 넣기 -->
	<insert id="insertUser" parameterType="com.app.dto.user.UserInfo">
		INSERT INTO user_info (email, password, nickname, status)
		VALUES (#{email}, #{password}, #{nickname}, '1')
	</insert>
	
	<!-- 아이디(이메일) 중복체크 -->
	<select id="checkEmailDuplicate" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM user_info
		WHERE email = #{email}		
	</select>
	
	<!-- 로그인: 이메일로 회원정보 조회 (비밀번호 검증용) -->
	<select id="findUserByEmail" parameterType="string" resultType="UserInfo">
		SELECT
			u_id AS "uId",
			email,
			password,
			nickname
		FROM user_info
		WHERE email = #{email}
	</select>
	<select id="getUserProfile" parameterType="Long" resultType="map">
		SELECT 
			f.url_file_path,
			f.file_name
		FROM user_info u
		LEFT JOIN profile_image_file_info f ON u.profile_image_id = f.profile_image_id
		WHERE u.u_id = #{userId}
	</select>
	<insert id="insertProfileInfo" parameterType="map">
    
    <selectKey keyProperty="profileImageId" resultType="long" order="BEFORE">
        SELECT seq_profile_image.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO profile_image_file_info (
        profile_image_id, 
        file_name, 
        ORIGINAL_FILE_NAME, 
        file_path, 
        url_file_path
    ) VALUES (
        #{profileImageId}, 
        #{fileName}, 
        #{originalFileName}, 
        #{filePath}, 
        #{urlFilePath}
    )
    
     
</insert>
	
	<update id="updateUserProfileImageId" parameterType="map">
    UPDATE user_info
    SET profile_image_id = #{profileImageId}
    WHERE u_id = #{userId}
</update>
	
	
	
	<insert id="insertPasswordToken" parameterType="map">
        INSERT INTO USER_PASSWORD_TOKEN (
            U_ID, 
            TOKEN, 
            EXPIRED_AT
        ) VALUES (
            #{uid}, 
            #{token}, 
            SYSDATE + (5 / (24 * 60))
        )
    </insert>
    <select id="findUidByUserEmail" parameterType="string" resultType="int">
    	select u_id
    	from user_info
    	where email = #{email}
    </select>
    <select id="checkValidToken" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM USER_PASSWORD_TOKEN t
	    	inner join user_info u 
	    		on t.U_ID = u.u_id
	    WHERE u.email = #{email}
	      AND t.TOKEN = #{token}
	      AND SYSDATE &lt;= t.EXPIRED_AT
	</select>
    <delete id="deleteUsedTokenByTokenID" parameterType="string">
	    DELETE FROM USER_PASSWORD_TOKEN 
	    WHERE token = #{token}
	</delete>
</mapper>