<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="user_mapper">
	<select id="findNickNameByUid" resultType="string" parameterType="long">
		select nickname
		from user_info
		where u_id = #{value}
	</select>
	<select id="findMyPageByUserId" resultType="com.app.dto.user.UserInfo">
		SELECT u_id "uId", email, password,nickname
		FROM user_info
		WHERE u_id=#{userId}	
	</select>
	<update id="updatePassword">
	    UPDATE user_info
	    SET password = #{password} 
	    WHERE u_id = #{uId}
	</update>
	
	<!-- 회원가입: DB에 유저 정보 넣기 -->
	<insert id="insertUser" parameterType="com.app.dto.user.UserInfo">
		INSERT INTO user_info (email, password, nickname, status)
		VALUES (#{email}, #{password}, #{nickname}, '1')
	</insert>
	
	<!-- 아이디(이메일) 중복체크 -->
	<select id="checkEmailDuplicate" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM user_info
		WHERE email = #{email}		
	</select>
	
</mapper>